body{
    background: lightgreen;
}

.container{
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    grid-auto-rows: 150px;
    grid-auto-flow: dense;
    /* zmienia kolejnosc renderowania elementow jak jeden
    jest wiekszy np*/
}

.box{
    background: black;
    /* width: 200px; */
    /* height: 200px; */
}
@media screen and (min-width: 400px) {
    .box:nth-child(2n + 2){
        background-color: aqua;
    }
}